@model IEnumerable<BlogMvcApp.Models.BlogModel>

@{
    ViewBag.Title = "Index";
}

<h2>Blog Listesi</h2>


@Html.Partial("_BlogList", Model)


@section RightColumn{

    
    @Html.Partial("_Search")
    <br />

    @{Html.RenderAction("CategoryList", "Category");}

}



